aiofiles
aiohttp
cryptg
ffmpeg-python
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
imageio
lottie
lxml
motor
mutagen
opencv-python-headless
Pillow
psutil
py-tgcalls
pymediainfo
pymongo
pyrogram
python-magic
pytz
razorpay
reportlab
requests
telegraph
Telethon
TgCrypto
uvloop
youtube-search-python
yt-dlp
