psutil
imageio
mutagen
pymongo
motor
requests
setuptools
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
razorpay
python-magic
youtube-search-python
certifi
yt_dlp
uvloop
lottie
telegraph
pytz
pymediainfo
aiofiles
Pillow
py-tgcalls
cryptg
#pyrotgfork
#https://devgagan.in/wp-content/uploads/2024/06/ggnpyro.zip
kurigram
Telethon
TgCrypto
pymongo
requests
pymongo
lxml
fake_useragent
git+https://github.com/yt-dlp/yt-dlp.git
Pillow
opencv-python-headless
python-ffmpeg
ffmpeg
uvloop
reportlab
aiohttp
aiofiles
aiohttp
certifi
cryptg
fake-useragent
ffmpeg
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
imageio
lottie
lxml
mutagen
opencv-python-headless
Pillow
psutil
py-tgcalls
pymediainfo
pymongo
pyrotgfork
python-ffmpeg
python-magic
pytz
razorpay
reportlab
requests
telegraph
Telethon
TgCrypto
uvloop
youtube-search-python
yt-dlp
