aiofiles
aiohttp
certifi
cryptg
fake-useragent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
httpx
imageio
https://github.com/KurimuzonAkuma/kurigram/archive/dev.zip
tgcrypto
lottie
lxml
motor
mutagen
numpy
opencv-python-headless
Pillow
psutil
py-tgcalls
pymediainfo
pymongo
python-magic
pytz
requests
yt-dlp[default]
